<ng-container>
    <div class="container">
        <div class="leftContent">
            <div style="width:40px"></div>
            <div class="text-box">
                <div class="label">新闻首页</div>
            </div>
            <div class="button-box">
                <button class="menuBtnBox" nz-button nz-dropdown [nzDropdownMenu]="headApplication" nzPlacement="bottomLeft">
                    <div class="MOOCLabel" style="font-size: 14px">应用</div>
                    <div class="icon-arrows"></div>
                </button>
            </div>
            <div class="text-box">
                <div class="label">无障碍浏览</div>
            </div>
        </div>
        <div class="rightContext">
            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button nzType="">
                    <div class="headButton-icon newsapp-icon"></div>
                </button>
            </div>

            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button nz-dropdown [nzDropdownMenu]="headOpenClass" nzPlacement="bottomRight">
                    <div class="headButton-icon gongkaike-icon"></div>
                    <i class="iconfont icon-shangjiantou"></i>
                    <div class="icon-arrows"></div>
                </button>
            </div>

            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button nz-dropdown [nzDropdownMenu]="headShoppingMall" nzPlacement="bottomRight">
                    <div class="headButton-icon yanxuan-icon"></div>
                    <div class="icon-arrows"></div>
                </button>
            </div>

            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button nz-dropdown [nzDropdownMenu]="headAccount" nzPlacement="bottomRight">
                    <div class="headButton-icon account-cion"></div>
                    <div class="icon-arrows"></div>
<!--                    <i class="iconfont icon-youjian"></i>-->
<!--                    <i class="iconfont icon-shangjiantou"></i>-->
                </button>
            </div>

            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button nz-dropdown [nzDropdownMenu]="headEmail" nzPlacement="bottomRight">
                    <div class="headButton-icon email-icon"></div>
                    <div class="icon-arrows"></div>
                    <!--                    <i class="iconfont icon-youjian"></i>-->
                    <!--                    <i class="iconfont icon-shangjiantou"></i>-->
                </button>
            </div>

            <div class="button-box text-box divider-line">
                <div class="login">
                    <a>登录</a>
                </div>
            </div>

            <div class="button-box divider-line">
                <button class="menuBtnBox" nz-button nz-dropdown [nzDropdownMenu]="headRegEmail" nzPlacement="bottomRight">
                    <div class="MOOCLabel" style="font-size: 14px">注册免费邮箱</div>
<!--                    <i class="iconfont icon-youjian"></i>-->
                    <div class="icon-arrows"></div>
                </button>
            </div>

            <div class="button-box divider-line" style="margin-right: 44px">

                <div class="hamburger-menu">
                    <a>
                        <span class="menu1"></span>
                        <span class="menu2"></span>
                        <span class="menu3"></span>
                    </a>
                </div>
            </div>

        </div>
        <!-- ['网易新闻', '网易公开课', '网易高考智愿', '网易红彩', '网易严选', '邮箱大师', '网易云课堂']; -->
    </div>



<!--    #headApplication="nzDropdownMenu"
暂时没找到 循环创建 nzDropdownMenu 的方法
-->
<!--    弹出菜单-->
    <div>
        <nz-dropdown-menu  #headApplication='nzDropdownMenu' >
            <ul class="nz-dropdown-menu-ul-box" nz-menu>
                <li nz-menu-item>
                    <div class="meun-li-content-box">
                        <a class="applicationIcon newsapp">
                            网易新闻
                        </a>
                    </div>
                </li>
                <li nz-menu-item>
                    <div class="meun-li-content-box">
                        <a class="applicationIcon openclass">网易公开课</a>
                    </div>
                </li>
                <li nz-menu-item>
                    <div class="meun-li-content-box">
                        <a class="applicationIcon gaokaozhiyuan">网易高考智愿</a>
                    </div>
                </li>
                <li nz-menu-item>
                    <div class="meun-li-content-box">
                        <a class="applicationIcon hongcai">网易红彩</a>
                    </div>
                </li>
                <li nz-menu-item>
                    <div class="meun-li-content-box">
                        <a class="applicationIcon yanxuan">网易严选</a>
                    </div>
                </li>
                <li nz-menu-item>
                    <div class="meun-li-content-box">
                        <a class="applicationIcon mall">邮箱大师</a>
                    </div>
                </li>
                <li nz-menu-item>
                    <div class="meun-li-content-box">
                        <a class="applicationIcon study">网易云课堂</a>
                    </div>
                </li>
            </ul>
        </nz-dropdown-menu>
        <!--公开课-->
        <nz-dropdown-menu #headOpenClass='nzDropdownMenu'>
            <ul class="nz-dropdown-menu-ul-box" nz-menu>
                <li *ngFor="let title of openClassData" nz-menu-item >
                    <div class="meun-li-content-box">{{title}}</div>
                </li>
            </ul>
        </nz-dropdown-menu>
        <!--商城-->
        <nz-dropdown-menu #headShoppingMall="nzDropdownMenu">
            <ul class="nz-dropdown-menu-ul-box" nz-menu>
                <li *ngFor="let title of shoppingMallData" nz-menu-item>
                    <div class="meun-li-content-box">{{title}}</div>
                </li>
            </ul>
        </nz-dropdown-menu>
        <!--账户-->
        <nz-dropdown-menu #headAccount="nzDropdownMenu">
            <ul class="nz-dropdown-menu-ul-box" nz-menu>
                <li *ngFor="let title of accountData" nz-menu-item>
                    <div class="meun-li-content-box">{{title}}</div>
                </li>
            </ul>
        </nz-dropdown-menu>
        <!--邮箱-->
        <nz-dropdown-menu #headEmail="nzDropdownMenu">
            <ul class="nz-dropdown-menu-ul-box" nz-menu>
                <li *ngFor="let title of emailData" nz-menu-item>
                    <div class="meun-li-content-box">{{title}}</div>
                </li>
            </ul>
        </nz-dropdown-menu>
        <!--注册邮箱-->
        <nz-dropdown-menu #headRegEmail="nzDropdownMenu">
            <ul class="nz-dropdown-menu-ul-box" nz-menu>
                <li *ngFor="let title of regEmailData" nz-menu-item>
                    <div class="meun-li-content-box">{{title}}</div>
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>



    <!--应用-->
</ng-container>
