<!--<div class="layout">-->
<!--  <app-ssl-header (toggleEvent)="sidenav.toggle()"></app-ssl-header>-->
<!--  <mat-sidenav-container>-->
<!--    <mat-sidenav #sidenav mode="side" [opened]="!isMobile">-->
<!--      <div>-->
<!--        <app-ssl-sidebar  class="sidebar"></app-ssl-sidebar>-->
<!--      </div>-->
<!--    </mat-sidenav>-->
<!--    <mat-sidenav-content>-->
<!--      <router-outlet></router-outlet>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->
<!--</div>-->

<!--
<div class="layout">
  <app-ssl-header #gskHeader (toggleEvent)="sidenav.toggle()"></app-ssl-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="!isMobile">
      <div>
        <app-ssl-sidebar class="sidebar"></app-ssl-sidebar>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
-->

<!--
网易新闻页面搭建
-->
<!--
下一个任务,界面之间的跳转.传值 也就是路由.
需求驱动技术
-->
<div class="container">

    <app-news-header class="app-news-header"></app-news-header>
    <div>22222222222</div>
    <div>333333333333</div>
    <div>444444444444</div>
    <!--这里会根据当前路由自动展示页面-->
    <router-outlet></router-outlet>
</div>



